* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  background-color: #f8f7fc;
  color: #333;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.3em;
}

.next{
  display: block;
  background-color: yellow;
  width: 100px;
  padding: 5px;
  text-align: center;
  margin: 5px;
}

#slideshow {
  margin: auto;
  width: 300px;

}

#slideshow img{
  display: none;
  border-radius: 10px;
}
